$color-principal: #8d5524;
$color-claro: #fff3e0;
$color-contraste: #ffffff;
$padding-base: 1.5rem;
$shadow-suave: 0 4px 10px rgba(0, 0, 0, 0.1);

$bg-light: #fff9f3;
$primary-color: #d2691e;
$precio-color: #444;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
